﻿@model AwesomeOrdersSharer.IdentityService.Presentation.Models.Account.ConfirmForgotPasswordViewModel
@{
    ViewData["Title"] = "Confirm password reset";
}

<div class="bg-container">
    <div class="cm-container">
        <div class="white-container">
            <div class="content text-center">
                <h1>Check Your Email</h1>
                <img src="~/images/email.png" alt="check email"/>
                <div class="subtext-check-email mt-5">
                    We sent an email to @Model.Email with instructions to
                    reset your password.
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <form id="SubmitForm" asp-controller="Account" asp-action="ConfirmForgotPassword" asp-route-returnUrl="@Model.ReturnUrl" asp-route-userId="@Model.UserId" method="post">
                    <div class="verification-code">
                        <input asp-for="Code" type="text" id="FinishValue" class="d-none" hidden/>
                        <div>Verification code</div>
                        <div id="Warning" class="warning-message d-none">Verification code is not valid</div>
                        <div>
                            <input type="text" class="code" maxlength="1"/>
                            <input type="text" class="code" maxlength="1"/>
                            <input type="text" class="code" maxlength="1"/>
                            <input type="text" class="code" maxlength="1"/>
                        </div>
                    </div>
                    <button type="submit" onclick="" class="btn btn-cm-primary">Continue</button>
                </form>
                <a asp-action="ResendForgotPasswordVerificationCode" asp-route-userId="@Model.UserId" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-cm-secondary">Resend code</a>
            </div>
        </div>
    </div>
</div>
<script language="javascript" src="~/scripts/verificationCodeScript.js"></script>