﻿@model AwesomeOrdersSharer.IdentityService.Presentation.Models.Account.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot password";
}

<div class="text-center container-fluid">
    <main class="form-signin">
        <h1 class="h3 mb-3 fw-normal">Forgot Password</h1>
        <div class="subtext">Please type your email</div>
        <hr>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form asp-controller="Account" asp-action="ForgotPassword" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input asp-for="Email" type="email" class="form-control" id="email" placeholder="E-Mail">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mt-2 mb-2">
                <button type="submit" class="btn btn-primary">Send</button>
            </div>           
        </form>
    </main>
</div>