﻿@using AwesomeOrdersSharer.IdentityService.Presentation.Infrastructure.Data.Models
@model AwesomeOrdersSharer.IdentityService.Presentation.Models.Account.LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Sign in";
}

<div class="text-center container-fluid">
    <main class="form-signin">
        <h1 class="h3 mb-3 fw-normal">Log In</h1>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input asp-for="Email" type="email" class="form-control" id="email" placeholder="E-Mail">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input asp-for="Password" type="password" class="form-control" id="password" placeholder="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="forgot-pass">
                <a asp-action="ForgotPassword" asp-route-returnUrl="@Model.ReturnUrl">Forgot password</a>
            </div>
            <div class="mt-2 mb-2">
                <button asp-route-returnUrl="@Model.ReturnUrl" type="submit" class="btn btn-primary">Log in</button>
                <button asp-route-returnUrl="@Model.ReturnUrl" asp-action="Register" class="btn btn-secondary">Registration</button>
            </div>            
        </form>
        <div class="col-md-3 col-md-offset-0 col-xs-6 col-xs-offset-6 col-sm-12 col-sm-center">
            <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                <button type="submit" class="external-login google" name="google" value="Google">Google</button>
            </form>
        </div>
    </main>
</div>