﻿@using AwesomeOrdersSharer.IdentityService.Presentation.Infrastructure.Data.Models
@model AwesomeOrdersSharer.IdentityService.Presentation.Models.Account.ResetPasswordViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "New password";
}

<div class="bg-container">
    <div class="cm-container">
        <div class="white-container">
            <div class="content">
                <h3>Enter new password</h3>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <form id="new-password-form" asp-controller="Account" asp-action="NewPassword" asp-route-userId="@Model.UserId" asp-route-code="@Model.Code" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input asp-for="Password" type="password" class="form-control" id="password" placeholder="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="password">Confirm Password</label>
                        <input asp-for="PasswordConfirmation" type="password" class="form-control" id="confirmPassword" placeholder="Confirm password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-cm-primary mt-2">Set new password</button>
                    <a asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-cm-secondary">Back log in</a>
                </form>
            </div>
        </div>
    </div>
</div>