﻿@model AwesomeOrdersSharer.IdentityService.Presentation.Models.Account.RegisterViewModel

@{
    ViewData["Title"] = "Registration";
}
<div class="text-center container-fluid">
    <main class="form-signin">
        <h1 class="h3 mb-3 fw-normal">Registration</h1>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form id="sign-up-form" asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input asp-for="Email" type="email" class="form-control" id="email" placeholder="E-Mail">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input asp-for="FirstName" type="text" class="form-control" id="firstName" placeholder="First name">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input asp-for="LastName" type="text" class="form-control" id="lastName" placeholder="Last name">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="dateofbirth">Date of Birth</label>
                <input asp-for="DateOfBirth" type="number" class="form-control" id="dateofbirth" placeholder="yyyyMMdd">
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input asp-for="Password" type="password" class="form-control" id="password" placeholder="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input asp-for="PasswordConfirmation" type="password" class="form-control" id="confirmPassword" placeholder="Repeat password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mt-2 mb-2">
                <button type="submit" class="btn btn-primary">Register</button>
                <button asp-action="Login" asp-route-returnUrl="@ViewData["ReturnUrl"]" class="btn btn-secondary">Log in</button>
            </div>                
        </form>
        <div class="col-md-3 col-md-offset-0 col-xs-6 col-xs-offset-6 col-sm-12 col-sm-center">
            <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                <button type="submit" class="external-login google" name="google" value="Google">Google</button>
            </form>
        </div>
    </main>
</div>