﻿@{
    ViewData["Title"] = "Account locked out";
}
<div class="bg-container">
    <div class="text-center">
        <h1>@ViewData["Title"]</h1>
        <h3>Your account is locked out</h3>
    </div>
</div>