﻿@model string
@{
    ViewData["Title"] = "Error occured";
    var error = string.IsNullOrWhiteSpace(Model) ? "Oops, something wrong" : Model;
}
<div class="bg-container">
    <div class="text-center">
        <h1>@ViewData["Title"]</h1>
        <h3>@error</h3>
    </div>
</div>